body{
    width: 480px;
}
#a{
    margin: auto;
    height: 75px;
    width: 100%;  
    overflow: auto; 
}
#b{
    margin: auto;
    height: 150px;
    width: 100%;
    overflow: auto;
}
#c{
    margin: auto;
    height: 125px;
    width: 100%;
    overflow: auto;
}
#d{
    margin: auto;
    height: 125px;
    width: 100%;
    overflow: auto;
}
#e{
    margin: auto;
    height: 250px;
    width: 50%;
    overflow: auto;
}
#f{
    margin: auto;
    height: 250px;  
    width: 50%;
    overflow: auto;
}
#g{
    margin: auto;
    height: 250px;
    width: 50%;
    float: left;
}
#h{
    margin: auto;
    height: 250px;   
    width: 50%;
    /* float: left; */
}
#last{
    margin: auto;
    height: 80px;
    /* clear: both; */
    width: 100%;
}



#first {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;  
    /* grid-template-rows: 50% 50%;  */
}

#first > #e {
    order:1; 
}

#first > #f{
    order:2;  
}

#second {
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-rows: 50% 50%; */
}

#second > #g {
    order:1;
}

#second > #h{
    order:2;
}



@media( min-width: 768px ){
    body{
        width: 100%;
    }
    #a{
        height: 100px;
        width: 100%;   
    }
    #b{
        height: 600px;
        width: 20.83%;
        float: left;
    }
    #c{
        height: 200px;
        width: 39.58%;
        float: left;
    }
    #d{
        height: 200px;
        width: 39.58%;
        float: left;
    }
    #e{
        height: 250px;
        width: 19.79%;
        float: left;
    }
    #f{
        height: 250px;  
        width: 19.79%;
        float: left;
    }
    #g{
        height: 250px;
        width: 19.79%;
        float: left;
    }
    #h{
        height: 250px;   
        width: 19.79%;
        float: left;
    }
    #last{
        height: 150px;
        float: left;
        clear: right;
        width: 79.17%;
    }
}