@media only screen and (min-width: 480px) and (max-width:767px) {

    body {
        width: 100%;
    }
    header .box{
        width: 100%;
        height: 75px;
    }
    header .box p{
        padding-top: 37.5px;
        /* line-height: 75px; */
    }
    main {
        display: flex;
        flex-direction: column;
    }
     main aside{
        width: 100%;
    }
    main aside div{
        height: 150px;
    }
    main aside div p{
        line-height: 150px;
    }
    #stRow{
        width: 100%;
    }
    #stRow div{
        width: 100%;
        height: 125px;   
    }
    #stRow div p{
        line-height: 125px;
    }
    #ndRow{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    #ndRow div{
        width: 50%;
        height: 250px;
    }
    #ndRow div p{
        line-height: 250px;
    }
    #footer{
        width: 100%;
    }
    #footer div{
        height: 80px;
        
    }
    #footer div p{
        line-height: 80px;
    } 
}


@media only screen and (min-width: 768px) and (max-width:960px) {
    body {
        width: 100%;
    }

    header.box{
        width: 100%;
        height: 75px;
    }

    header.box p{
        line-height: 75px;
    }
    
    main {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
    }
    main aside{
        display: flex;
        flex-direction: initial;
        width: calc(((200/960)*100%));
    }
   aside div{
        height: 600px;
        width:100%;
    }
    main p{
        line-height: 600px;
    }
    #mainSec{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: calc(((760/960)*100%));
    }
    #stRow{
        display: flex;
        flex-direction: row;
        width: 100%;  
    }
    #stRow div{
        width: 50%;
        height: 200px;
         
    }
    #stRow div p{
        line-height: 200px;
    }
    #sndRow{
        display: flex;
        flex-direction: row;
        width:100% ;
    }
    #sndRow div{
        width: 25%;
        height: 250px; 
    }
    #sndRow div p{
        line-height: 250px;
    }
    #footer{
        width:100% ;
    }
    #footer div{
        width: 100%;
        height: 150px;    
    }
    #footer div p{
        line-height: 150px;
    }
}

@media (min-width: 960px){
    
    body {
        width: 100%;
    }
    header div{
        height: 100px;
        width: 100%;
    }
    header div p{
        line-height: 100px;
    }
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    main aside{
        display: flex;
        flex-direction: initial;
        width: calc(((200/960)*100%));
    }
    main aside div{
        height:600px ;
        width:100%;   
    }
    main aside div p{
        line-height: 600px;
    }
    #mainSec{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: calc(((760/960)*100%));
    }
    #stRow{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    #stRow div{
        width: 50%;
        height: 200px;
    }
    #stRow div p{
        line-height: 200px;
    }
    #sndRow{
        display: flex;
        flex-direction: row;
        width:100% ;
    }

    #sndRow div{
        width: 25%;
        height: 250px;
    }
    #sndRow div p{
        line-height: 250px;
    }

    #footer{
        width:100% ;
    }
    #footer div{
        width: 100%;
        height: 150px;
    }
    #footer div p{
        line-height: 150px;
    }
}
/* body{
    width: 480px;
}
#a{
    margin: auto;
    height: 75px;
    width: 100%;  
    overflow: auto; 
}
#b{
    margin: auto;
    height: 150px;
    width: 100%;
    overflow: auto;
}
#c{
    margin: auto;
    height: 125px;
    width: 100%;
    overflow: auto;
}
#d{
    margin: auto;
    height: 125px;
    width: 100%;
    overflow: auto;
}
#e{
    margin: auto;
    height: 250px;
    width: 50%;
    overflow: auto;
}
#f{
    margin: auto;
    height: 250px;  
    width: 50%;
    overflow: auto;
}
#g{
    margin: auto;
    height: 250px;
    width: 50%;
    float: left;
}
#h{
    margin: auto;
    height: 250px;   
    width: 50%;
    float: left;
}
#last{
    margin: auto;
    height: 80px;
    clear: both;
    width: 100%;
}



#first {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;  
    grid-template-rows: 50% 50%; 
}

#first > #e {
    order:1; 
}

#first > #f{
    order:2;  
}

#second {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

#second > #g {
    order:1;
}

#second > #h{
    order:2;
}



@media( min-width: 768px ){
    body{
        width: 100%;
    }
    #a{
        height: 100px;
        width: 100%;   
    }
    #b{
        height: 600px;
        width: 20.83%;
        float: left;
    }
    #c{
        height: 200px;
        width: 39.58%;
        float: left;
    }
    #d{
        height: 200px;
        width: 39.58%;
        float: left;
    }
    #e{
        height: 250px;
        width: 19.79%;
        float: left;
    }
    #f{
        height: 250px;  
        width: 19.79%;
        float: left;
    }
    #g{
        height: 250px;
        width: 19.79%;
        float: left;
    }
    #h{
        height: 250px;   
        width: 19.79%;
        float: left;
    }
    #last{
        height: 150px;
        float: left;
        clear: right;
        width: 79.17%;
    }
} */