#a{
    background-color: cornflowerblue;
    text-align: center;
    padding-top: 37.5px;
}
#b{
    background-color: crimson;
    text-align: center;
    padding-top: 75px;
}
#c{
    background-color: darkcyan;
    text-align: center;
    padding-top: 62.5px;
}
#d{
    background-color: darkgreen;
    text-align: center;
    padding-top: 62.5px;
}
#e{
    background-color: darkmagenta;
    text-align: center;
    padding-top: 125px;
}
#f{
    background-color: darkolivegreen;
    text-align: center;
    padding-top: 125px;
}
#g{
    background-color: darkred;
    text-align: center;
    padding-top: 125px;
}
#h{
    background-color: darkslategrey;
    text-align: center;
    padding-top: 125px;
}
#last{
    background-color: deeppink;
    text-align: center;
    padding-top: 40px;
}


@media( min-width: 768px ){
    #a{
        background-color: aquamarine;
        text-align: center;
        padding-top: 50px;
    }
    #b{
        background-color: maroon;
        text-align: center;
        padding-top: 300px;
    }
    #c{
        background-color: deepskyblue;
        text-align: center;
        padding-top: 100px;
    }
    #d{
        background-color: firebrick;
        text-align: center;
        padding-top: 100px;
    }
    #e{
        background-color: dimgrey;
        text-align: center;
        padding-top: 125px;
    }
    #f{
        background-color: aqua;
        text-align: center;
        padding-top: 125px;
    }
    #g{
        background-color: royalblue;
        text-align: center;
        padding-top: 125px;
    }
    #h{
        background-color: violet;
        text-align: center;
        padding-top: 125px;
    }
    #last{
        background-color: gold;
        text-align: center;
        padding-top: 75px;
    }
}